* {
	box-sizing: border-box;
	font-family: 'Verdana', sans-serif;
	padding: 0;
	margin: 0;
}

.hometitle {
	font-size: 75px;
}

#home{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	margin: 0;
}
#navbar a, #navbar{
	font-size: 50px;
	list-style: none;
}
#home body{
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

#navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin:0;
	padding:0;
	gap: 50px;
}

#navbar a:hover {
	background-color: red;
}


body {
	background-color: lightblue;	
}


h1 {
	font-size: 50px;
}

h1, h2{
	color: navy;
	font-weight: bold;
}

#recipe h2{
	text-decoration: underline;
}


#recipe {
	display: flex;
	flex-direction: column;
	color: black;
	font-size: larger;
	align-items: left;
	width: 100vw;
	gap: 15px;
	margin-bottom: 10px;
	padding-left: 10px;
}

#recipe img, #recipe h1 {
	margin: 0 auto;
	text-align: center;
}

#recipe ul,ol {
	text-align: left;
	list-style-position: inside;
}

ol > li::marker{
	font-weight: bold;
}
